/*------------------------------------*\
    #CONTACT
\*------------------------------------*/

.contact-phone {
    font-size: 1.4em;
}

.phone {
    font-size: 3em;
    line-height: 1.2;
}

.phone a {
    color: $white;

    &:hover {

    }
}

.phone + p {
    margin-top: 0.5em;
}
