/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$white        : rgb(255,255,255);
$red          : rgb(166, 0, 6);
$black        : rgb(0, 0, 0);
$green        : #0B5600;
$grey         : rgb(220, 220, 220);
$pink         : rgb(255, 86, 103);

$color-brand-red : #C61829;
$base-color   : rgb(30,30,30);
$color-heading: rgb(50,50,50);

$bg-highlight : rgb(50,50,50);


// Semi Transparent Colors

$grey-transparent : rgba(50,50,50, 0.4);
$white-transparent : rgba(255,255,255, 0.4);
$grey-transparent-accent : rgba(50,50,50, 0.8);
$white-transparent-accent : rgba(255,255,255, 0.8);
