<section class="intro">
    <blockquote>
        <span class="percentage">80%</span>
        <span class="fact">of the UK's top advertisers use door drops*</span>
        <cite>*source DMA</cite>
    </blockquote>
    <div class="intro-main">
        <p>
            Leaflet Distribution is probably the simplest and cheapest form of direct marketing for companies looking for a return on their investment. Door drop marketing is recognised as one of the most potent, penetrating and flexible advertising methods within the present market place.
        </p>
        <p>
            Door drop marketing is used by anyone and everyone including major grocery retailers, financial and mail order companies to central government and local authorities but to name a few.
        </p>
    </div>
</section>
