<section class="pricing">
    <h2>Pricing</h2>
    <p>
        *Strictly Payment in Advance
    </p>
    <div class="option-wrapper">
        <div class="option-shared">
            <div class="option-name">
                SHARED
            </div>
            <div class="price">
                <span class="sterling">£</span>
                <span class="amount">{{ page.solusprice }}</span>
                <span class="qty">Per 1000 leaflets</span>
            </div>
            <ul class="option-benefits">
                <li>Cheaper Option</li>
            </ul>
            <div class="description">
                Shared Distribution is a slightly cheaper alternative but then your leaflet is falling onto the doormat with up to 5 other leaflets. The reduced cost must surely be out weighed by the fact the householder picks up a bundle of leaflets and your marketing message is at best just one of many, it is possible that it may not even be seen if it is surrounded by others.
            </div>
        </div> <!-- #shared -->
        <div class="option-solus">
            <div class="option-name">
                SOLUS
            </div>
            <div class="price">
                <span class="sterling">£</span>
                <span class="amount">{{ page.sharedprice }}</span>
                <span class="qty">Per 1000 leaflets</span>
            </div>
            <ul class="option-benefits">
                <li>Better Results.</li>
                <li></li>
            </ul>
            <div class="description">
                Solus Leaflet Distribution is without doubt the premier route to go, and will give the best possible returns, the leaflet landing on the door mat on its own has the best chance of being seen and the marketing message taken in.
            </div>
        </div> <!-- #solus -->

    </div>
</section> <!-- #pricing -->
